<div class="filter-dropdown">
  <button class="filter-toggle" (click)="toggleFilters()">Filtrar</button>
  
  <div *ngIf="showFilters" class="filter-container">
    <div class="filter-options">
      <div class="filter-item" *ngFor="let filter of filterOptions">
        <label [for]="filter.id">{{ filter.label }}:</label>
        <select 
          [id]="filter.id" 
          [disabled]="filter.disabled || (filter.id === 'subRegionSelect' && !filters.region)" 
          (change)="filter.onChange($event)">
          <option value="" selected>Selecione</option>
          <option *ngFor="let option of filter.options" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
