<div>
  <label for="regionSelect">Region:</label>
  <select id="regionSelect" (change)="onRegionChange($event)">
  <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
  </select>

  <label for="subRegionSelect">Sub-region:</label>
  <select id="subRegionSelect" (change)="onSubRegionChange($event)">
  <option *ngFor="let subRegion of subRegions" [value]="subRegion">{{ subRegion }}</option>
  </select>

  <label for="populationSelect">Population:</label>
  <select id="populationSelect" (change)="onPopulationRangeChange($event)">
  <option *ngFor="let range of populationRanges" [value]="range">{{ range }}</option>
  </select>
</div>