<div>

  <div class="search-box-container">
    <div class="search-controls">
      <app-filter></app-filter>
      <app-search-box></app-search-box>
      <app-sort></app-sort>
    </div>
  </div>

  <div class="country-container">
    <app-countries-card
     *ngFor="let country of countries$ | async"
     [country]="country" (click)="goToCountriesDetails(country)">
    </app-countries-card>
  </div>
  
  <app-pagination 
  [totalItems]="(totalCountries$ | async) || 0" 
  [itemsPerPage]="(pageSize$ | async) || 12" 
  [currentPage]="(currentPage$ | async) || 1" 
  (pageChange)="onPageChange($event)">
  </app-pagination>

</div>