.search-box {
    display: flex; /* Use flexbox para alinhar o input e o botão se houver */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.search-box input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    max-width: 600px; /* Ajuste conforme necessário */
    box-sizing: border-box;
    background-color: #ffffff; /* Fundo branco para o campo de entrada */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
}

.search-box input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}