<div>
  <div class="search-box-container">
    <div class="search-controls">
      <app-filter></app-filter>
      <app-search-box></app-search-box>
      <app-sort></app-sort>
    </div>
  </div>
  <div class="country-container">
    <app-countries-card *ngFor="let country of countries$ | async" [country]="country"></app-countries-card>
  </div>
  <app-pagination [totalItems]="totalCountries" [itemsPerPage]="pageSize" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-pagination>
</div>